li {
  display: inline-block;
  border: 1px solid black;
  border-radius: 26px;
  padding: 10px;
  background-color: white;
}
.men {
  text-decoration: none;
  color: #00BFFF;
  font-weight: 1000;
  font-size: 20px;
}
.div1 {
  display: flex;
  margin: auto;
}
.menu {
  padding-top: 20px;
  text-align: center;
}
div.menu {
  justify-content: center;
}
li:hover {
  background-color: #1E90FF;
}
.men:hover {
  color: aliceblue;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex-grow: 1;
  margin-bottom: 50px;
}
.footer {
  display: flex;
  position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    background: #00BFFF; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}
.footer1 {
  padding-top: 15px;
}
.footer3 {
  margin-right: 200px;
  padding-left: 600px;
}

.fa {
  text-decoration: none;
  color: blue;
  margin-top: 5px;
}
.fa:hover {
  color: red;
}

 .container {   width: 75%;
  border: 4px solid #00BFFF;
  background-color: #B0E0E6;
  border-radius: 10px; 
  padding: 16px; 
  margin: 30px auto; 
}
  .container img {
  float: left;
  margin-right: 20px; 
  border-radius: 50%; 
  width: 90px;
}

.container span {
  font-size: 18px;
  margin-right: 15px;
}
 @media (max-width: 450px) {
  .container {
    text-align: center;
  }
  .container img {
    margin: auto;
    float: none;
    display: block;
  }
}